<!DOCTYPER html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8"/>
            <title>Coleção de Livros</title>
        </head>
    <body>

        <h1>Bem vindo a página inicial</h1>

    </body>
</html>